body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: #181818;

}

.container {
    display: flex;
    height: 100vh;
    background-color: #181818;
    color: #ffffff; 
}

/*Header */
.User {
    position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
.nav-list  #CircleButton #Circle {
    display: inline-block;
    position: absolute;
    margin-right: 2%;
    visibility: visible;
    width: 45px;
    height: 45px;
    z-index: 9998999;
    right: 0;
    border-radius: 50%;
    vertical-align: middle;
    background: none;
    background-image: url('../UserIcon/UnkwonUser.png');
    background-size: cover;
}
.nav-list #CircleButton #Circle:hover {
    cursor: pointer;
    border: 3px solid #006097;
}
.nav-list .DropDownMenu {
    display: none;
    background-color: #006097;
    color: white;
    padding: 26px;
    width: 15%;
    margin-right: 0;
    right: 0%;
    margin-top: 2%;
    font-size: 16px;
    border: none;
    position: absolute;
}
.nav-list .DropDownContent {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #006097;
    cursor: pointer;
}
.nav-list .DropDownContent a{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}
.nav-list .DropDownContent a:hover {
	font-size: 17px;
	font-weight: bold;
}

.nav-list .DropDownContent {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  
/* Bot Section */

#NewChat {
    position: absolute;
    left: 20px;
    width: 90%;
    bottom: 25px;
}

/* UserInput field */
.content {
    flex-grow: 1;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    max-width: 100%;
}

/* Chat window */
.content #chatWindow {

    padding: 20px;
    width: 100%;
    overflow-y: auto;
}

.chat-window {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Chat messages */
.chat-message {

    margin: 10px 0;
    display: flex;
    color: black;
    width: 100%;
    justify-content: center;
}

.chat-message .message {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 10px;
    max-width: 70%;
    word-wrap: break-word;
    
    
}

.chat-message.user .message {
    background-color: #e1ffc7;
    max-width: 70%;
    justify-content: right; /* Center align items */

}

.chat-message.bot .message {
    background-color: #f1f1f1;
    justify-content: left; /* Center align items */

}

/* Footer */
.footer {
    display: flex;
    align-items: center;
}

#chatInput {
    flex-grow: 1;
    margin: 0 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: none; /* Disable manual resize */
    overflow: hidden;
    max-width: calc(100% - 80px); /* Adjust based on other elements in the footer */
}

/* Sidebar */
.sidebar {
    size: 15%;
    min-width: 15%;
    width: 15%;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    position: relative;
    z-index: 3;
}

#Hamburger-menu {
    position: absolute;
    top: 2%;
    left: 1%;
    z-index: 4;
    background-color: #424242; 
    color: #ffffff;
    border: none;
    padding: 10px;
    width: 2%;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    transition: #424242 0.3s ease;
}


.sidebar {
    position: relative;
    width: 300px; /* Adjust as needed */
}
.sidebar-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.sidebar-item h1 {
    margin-top: 20%;
    font-size: 21px;
    color: #ffffff;
    border: none;
    border-bottom: 1px solid #424242;
    padding: 10px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    transition: #424242 0.3s ease;
}
.sidebar-item button {
    background-color: #424242; 
    color: #ffffff;
    border: none;
    position: absolute;
    bottom: 20%;
    padding: 10px;
    width: 90%;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    transition: background-color 0.3s ease;
}

.sidebar-item button:hover, .sidebar-item p:hover {
    background-color: #616161;
}



.sidebar-item .collapse {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #424242;
    border-radius: 8px;
}
 
.collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.collapse.open {
    max-height: 200px; 
}

/* User's chat */

.ChatButton {
    position: absolute;
    top: 16%;
    left: 3%;
    width: 90%;
    max-height: calc(100vh - 21% - 80px); /* Adjusted to consider bottom spacing */
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    border-radius: 8px;
    transition: all 0.3s ease; 
}
.ChatButton a:first-child {
    margin-top: 20px;
    min-height: 15px;
    text-decoration: none;
    background-color: #424242; 
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 25px;
    font-weight: 650;
    width: 90%;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    overflow: hidden;           
    text-overflow: ellipsis;    
    white-space: nowrap;     
}
.ChatButton a {
    min-height: 15px;
    text-decoration: none;
    background-color: #424242; 
    color: #ffffff;
    border: none;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 25px;
    font-weight: 650;
    width: 90%;
    cursor: pointer;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
    overflow: hidden;           
    text-overflow: ellipsis;    
    white-space: nowrap;        
}
.ChatButton a:hover{
    background-color: #a7a7a7;
}
.chat-button .dots {
    display: none;
    font-size: 23px;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.chat-button .settings {
    display: none;
    position: absolute;
    font-size: 15px;
    top: 8px;  
    right: 50px;  
    padding: 2px 5px;
    border-radius: 3px;
    z-index: 100000; 
    white-space: nowrap;
}

.menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    z-index: 100001;
    border-radius: 5px;
    overflow: hidden;
}

.menu-item {
    padding: 10px 20px;
    cursor: pointer;
}

.menu-item:hover {
    background: #f0f0f0;
}

.rename-input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
/*delete menu*/
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Delete-Chat {
    display: none;
    position: absolute;
    top: 30%;
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center; /* Center text within the div */
    z-index: 10000;
}
.close-btn {
   position: absolute;
   top: 5px;
   font-weight: bolder;
   font-size: 17px;
   right: 5px;
   background: none !important;
   color: #262626 !important;
}

.Delete-Chat h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.Delete-Chat p {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.Delete-Chat input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.Delete-Chat button {
    width: 100%;
    padding: 10px;
    background-color: #e74c3c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.Delete-Chat button:hover {
    background-color: #c0392b;
}
#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.699); /* Black background with opacity */
    z-index: 9; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
/* Chat History Scrollbar */
/* For Webkit-based browsers (Chrome, Safari) */
.ChatButton::-webkit-scrollbar {
    width: 14px; /* Width of the scrollbar */
}

.ChatButton::-webkit-scrollbar-track {
    background: #2c2c2c; /* Background color of the scrollbar track */
    border-radius: 10px; /* Rounded corners */
}

.ChatButton::-webkit-scrollbar-thumb {
    background-color: #424242; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #2c2c2c; /* Padding around thumb */
}

/* For Firefox */
.ChatButton {
    scrollbar-width: thin; /* Width of the scrollbar */
    scrollbar-color: #5c5b5b #2c2c2c; /* Thumb color, track color */
}
/* footer section / chat input */
.footer {
    width: 80%;
    background-color: #282828;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
    gap: 10px;
    transform: translateX(14%);
}

.footer textarea {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #424242;
    color: #ffffff;
    font-size: 1.2em;
    white-space: pre-wrap; 
    resize: none;
}

.footer button {
    background-color: #424242;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.footer .SendChat {
    cursor: not-allowed;
    background-color: #424242;
    opacity: 35%;
}

.footer button:hover {
    background-color: #616161;
}

.sidebar #Hamburger-menu {
    width: 2%;
}

.hamburger-menu {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #424242;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    color: #ffffff;
}

.hamburger-menu i {
    font-size: 1.5em;
}


/* Responsive Styles */
@media (max-width: 1800px) {
    body {
        overflow-x: hidden;
    }
    #header {
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100vw;
		height: auto;
		border-bottom: 0.5px solid #888;
		background-color: #EFEFEF;
	}
	#header .header {
		min-height: 8vh;
		transition: 0.3s ease background-color;
	}
	#header .nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100vw;
		height: 100%;
		padding: 0 10px;
		margin-right: 0%;
		margin-left: 1%;
	}
    
    .footer {
        width: 70%;
        background-color: #282828;
        display: flex;
        align-items: center;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        gap: 10px;
        transform: translateX(14%);
    }

    #Hamburger-menu {
        position: absolute;
        top: 2%;
        left: 1%;
        z-index: 3000;
        background-color: #424242; /* Button background */
        color: #ffffff;
        border: none;
        padding: 10px;
        width: 5%;
        cursor: pointer;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        transition: background-color 0.3s ease;
    }

    

 }
@media (max-width: 768px) {
    #header {
		position: fixed;
		z-index: 1000;
		left: 0;
		top: 0;
		width: 100vw;
		height: auto;
		border-bottom: 0.5px solid #888;
		background-color: #EFEFEF;
	}
	#header .header {
		min-height: 8vh;
		transition: 0.3s ease background-color;
	}
	#header .nav-bar {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100vw;
		height: 100%;
		padding: 0 10px;
		margin-right: 0%;
		margin-left: 1%;
	}
     #header .nav-list .DropDownMenu {
        background-color: #006097;
        color: white;
        padding: 26px;
        width: 45%;
        font-size: 16px;
        border: none;
        position: absolute;
        display: none;
    }
    
    .sidebar {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        width: 250px;
        height: 100%;
        z-index: 999;
        transition: transform 0.3s ease;
    }
    .sidebar #NewChat {
        margin-bottom: 10%;
    }
    .container {
        flex-direction: column;
    }

    .content {
        width: 100%;
        margin-left: 0;
    }

    .footer {
        position: relative;
        width: 70%;
        background-color: #282828;
        display: flex;
        align-items: center;
        bottom: 10px;
        padding: 10px;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
        gap: 10px;
        transform: translateX(14%);
        margin-top: 40px;
        margin-bottom: 40px;
    }


    #Hamburger-menu {
        position: absolute;
        top: 2%;
        left: 1%;
        z-index: 3000;
        background-color: #424242; /* Button background */
        color: #ffffff;
        border: none;
        padding: 10px;
        width: 9%;
        cursor: pointer;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        transition: background-color 0.3s ease;
    }

    
}

@media (max-width: 480px) {
    .sidebar-item button {
        font-size: 0.9em;
    }

    .footer input {
        font-size: 0.9em;
    }

    .footer button {
        font-size: 1em;
    }
}