/* Inter google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
h1,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
body {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ededed;
}

/* Flex container for the header */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px;
    background-color: #ededed;
    position: fixed;
    top: 0; /* Position it at the top of the viewport */
    left: 0; /* Align it to the left edge of the viewport */
    width: 100%; /* Ensure the header takes the full width */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional: add shadow for better visibility */
    z-index: 1000; /* Ensure it stays above other content */
}

#header span {
    color: #3164f4;
    font-style: italic;
    font-weight: bold;
}

#header h1 {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
    color: #262626;
}

#header .Logo a {
    text-decoration: none;
}

.Logo {
    flex: 1;
}

.MainRoutes {
    flex: 2;
    text-align: center;
}

.Auth {
    flex: 1;
    text-align: right;
    margin-right: 80px;
}

#header ul {
    display: inline-block;
}

#header .MainRoutes a {
    text-decoration: none;
    padding: 0 15px;
    color: #262626;
    font-weight: bold;
    font-size: 20px;
}

#header .MainRoutes a:hover {
    border-bottom: 2px solid #007aff;
    border-width: 2px;
}

#header .Auth a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
}

#header .Auth .Login {
    color: #262626;
}

#header .Auth .Login:hover {
    transition: 0.4s;
    color: #007aff;
}

#header .Auth .SignUp {
    color: #fff;
}

#header .Auth .SignUpul {
    display: inline-block;
    border: none;
    border-radius: 12px;
    height: 53px;
    width: 120px;
    background-color: #3164f4;
    vertical-align: middle;
    line-height: 53px;
}

#header .Auth .SignUpul:hover {
    transition: 0.4s;
    background-color: #007aff;
}

#header .Auth .SignUpul a {
    display: block;
    height: 100%;
    line-height: 53px;
    text-align: center;
}
#header .Auth ul li a #Circle {
    display: none;
    visibility: visible;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
    background-image: url('../UserIcon/UnkwonUser.png');
    background-size: cover;
}

.hamburger {
    flex-direction: column;
    display: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(-50%, -50%);
}
.hamburger span {
    height: 3px;
    width: 25px;
    background: #262626;
    margin: 4px 0;
    border-radius: 3px;
}
/* Button styles */
#header .Auth ul li a button {
    border-radius: 50%;
    background: none;
    border: none;
}

#header .Auth ul li a button:hover {
    cursor: pointer;
}

/* Dropdown menu styles */
#header .DropDownMenu {
    background-color: #006097;
    color: white;
    padding: 26px;
    width: 13.3%;
    margin-top: 400px;
    margin-right: 100px;
    right: 1%;
    font-size: 16px;
    border: none;
    border-radius: 16px;
    position: absolute;
    display: none;
    z-index: 100;
}
#header .DropDownMenu .bar {
    width: 100%;
    position: absolute;
    right: 0;
    left: 0;

    margin-left: 0;
    height: 1px;
    background-color: #9b9b9b;
}
#header .DropDownMenu .DropDownContent {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #006097;
}

#header .DropDownMenu .DropDownContent a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#header .DropDownMenu .ProfileHeader .ProfileImg {
    display: flex;
    align-items: center; /* Vertically center the content */
}
#header .DropDownMenu .ProfileHeader .ProfileImg .img {
    width: 45px;
    height: 45px;
    margin-bottom: 40px;
    margin-right: -10px;
    border-radius: 50%;
    vertical-align: middle;
    background-image: url('../UserIcon/UnkwonUser.png');
    border: 1px solid #128fdc;
    background-size: cover;
    position: relative; /* Ensure the img div is positioned relative */
}
#header .DropDownMenu .ProfileHeader .ProfileImg .img:hover {
    vertical-align: middle;
    cursor: pointer;
    background-image: url('../UserIcon/upload.png');
}
#fileInput {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}
#header .DropDownMenu .ProfileHeader .ProfileImg .UserInfo {
    margin-top: -35px;
    margin-left: 30px;
}
#header .DropDownMenu .ProfileHeader .ProfileImg h1 {
    color: #fff;
    font-size: 23px;
}
#header .DropDownMenu .ProfileHeader .ProfileImg h2 {
    margin-top: 0px !important;
    color: #dbcbcb;
    font-size: 17px;
}

#header .DropDownMenu .DropDownContent a:hover {
    border-radius: 5px;
    background-color: #128fdc;
    transform: translateX(-8%);
    width: 107%;
}

#header .DropDownMenu .DropDownContent {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Main Content */
#MainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    text-align: center;
}

#MainContent h1 {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 58px;
    margin-bottom: 20px;
}

#MainContent p {
    font-size: 20px;
    margin-bottom: 30px;
}

.ButtonContainer {
    display: flex;
    gap: 20px;
}

#MainContent .SignUpbutton button {
    width: 135px;
    height: 53px;
    font-size: 16px;
    background-color: #3164f4;
    font-weight: bold;
    border-radius: 12px;
    color: #fff;
    border: none;
    cursor: pointer;
}
#MainContent .SignUpbutton button:hover {
    transition: 0.4s;
    background-color: #007aff;
}

#MainContent .WatchDemo button {
    color: #262626;
    border: 1px solid black;
    font-weight: bold;
    font-size: 16px;
    border-radius: 12px;
    background: none;
    width: 183px;
    height: 53px;
    cursor: pointer;
}
#MainContent .WatchDemo button:hover {
    transition: 0.4s;
    background-color: #fff;
}
/* Demo video */
#DemoVideo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 23%;
    font-size: 32px;
}
#DemoVideo h1 {
    right: 0;
    margin-top: 20px;
    margin-bottom: 90px;

    color: #262626;
    font-weight: bold;
}
#DemoVideo .Background {
    border-radius: 16px;
    background-color: #fff;
    width: 1391px;
    height: 700px;
    box-shadow: rgba(51, 51, 51, 0.1);
    margin-bottom: 20px;
}

/* features */
#Features {
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Features .title {
    font-size: 58px;
    color: #262626;
    font-weight: bold;
    margin-bottom: 40px;
}

#Features .box-container {
    margin-top: 20px;
    display: flex;
    gap: 50px; /* Space between the boxes */
}

#Features .box1,
.box2,
.box3 {
    border-radius: 16px;
    box-shadow: rgba(51, 51, 51, 0.1);
    width: 362px;
    height: 327px;
    background-color: #fff !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#Features .box1.active,
#Features .box2.active,
#Features .box3.active {
    background-color: #262626 !important;
    color: #e0e0e0;
}

/* About */
#About {
    margin-top: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 90px;
}

#About .Title {
    margin-bottom: 35px;
    font-size: 58px !important;
    color: #262626;
    font-weight: bold;
}

#About .MainBox {
    position: relative;
    width: 1283px;
    height: 327px;
    background-color: #fff;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#About .MainBox .content h1 {
    margin-top: 0;
    font-size: 38px;
    color: #3164f4;

    font-weight: bold;
    font-style: italic;
}
#About .MainBox .content span {
    color: #3164f4;
}
#About .MainBox .content p {
    font-size: 21px;
    color: #030303;
}

#About .MainBox .content {
    flex: 1;
    text-align: left;
}

#About .SecondaryBox {
    position: absolute;
    top: 0;
    right: 0;
    width: 583px;
    height: 327px !important;
    height: 100%;
    background-color: #f2f2f2;
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#About .MainBox .SecondaryBox h1 {
    color: #007aff;
    margin-top: -80px;
    font-size: 38px;
    font-weight: bold;
    font-style: italic;
}

#About .MainBox .SecondaryBox span {
    font-weight: bold;
}
#About .MainBox .SecondaryBox p {
    text-align: left;
    font-size: 21px;
    color: #030303;
}
/*assad*/
#About .MainBox2 {
    margin-top: 40px;
    position: relative;
    width: 1283px;
    height: 327px;
    background-color: #f2f2f2;
    border-radius: 16px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}
#About .MainBox2 .content h1 {
    margin-top: 0;
    font-size: 38px;
    color: #007aff;

    font-weight: bold;
    font-style: italic;
}
#About .MainBox2 .content span {
    color: #3164f4;
}
#About .MainBox2 .content p {
    font-size: 21px;
    color: #030303;
}

#About .MainBox2 .content {
    flex: 1;
    text-align: left;
}

#About .SecondaryBox2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 583px;
    height: 327px !important;
    height: 100%;
    background-color: #fff;
    border-radius: 0 16px 16px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#About .MainBox2 .SecondaryBox2 h1 {
    color: #3164f4;
    font-size: 38px;
    font-weight: bold;
    font-style: italic;
}

#About .MainBox2 .SecondaryBox2 span {
    font-weight: bold;
}
#About .MainBox2 .SecondaryBox2 p {
    text-align: left;
    font-size: 21px;
    color: #030303;
}
/* Get started */
#CTA {
    width: 1151px;
    height: 451px;
    background-color: #fff;
    border-radius: 16px;
    margin: 18% auto 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.text-content {
    flex: 1;
    margin-right: 20px;
}

.text-content h1 {
    margin-left: 70px;
    margin-top: -100px;
    font-size: 48px;
    color: #030303;
    font-weight: bold;
}

.text-content span {
    color: #3164f4;
}

.text-content p {
    margin-left: 70px;

    color: #262626;
    font-size: 20px;
    max-width: 900px;
}

.form-content {
    flex: 1; /* Allow the form content to take up space */
    max-width: 400px; /* Adjust the max-width for the form */
}

#signup-form {
    margin-top: -100px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Space between form elements */
}

#signup-form label {
    font-size: 16px;
    color: #262626;
}

#signup-form input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

#signup-form h1 {
    margin-top: 45px;
    margin-bottom: 30px;
    font-size: 31px;
    text-align: center;
}

#signup-form button {
    background-color: #3164f4;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#signup-form button:hover {
    background-color: #007aff;
}

#signup-form .Password-container .ShowButton {
    position: absolute;
    margin-top: 20px;
    right: 450px;
    transform: translateY(-50%); /* Adjust for vertical centering */
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #128fdc;
}
#CTA2 {
    display: none;
}
.text-content2 {
    display: none;
}
#signup-form .Password-container .ShowButton:hover {
    text-decoration: underline;
}
/* Handle Errors */
.EmailError {
    display: none;
    visibility: visible;
    margin-top: 0;
    font-size: 16px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.PasswordError {
    display: none;
    visibility: visible;
    margin-top: 0;
    font-size: 16px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.Errors {
    display: none;
    flex-wrap: wrap;
}
.Errors .Warning {
    border: none;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 0, 0);
}
.Errors i {
    margin-top: 5px;
    color: red;
    font-size: 13px;
}
.Errors p {
    width: 48%; /* Adjust this width as needed */
    margin-right: 2%; /* Adjust margin to space out items */
    font-weight: 700;
    font-size: 12px;
    color: red;
}
.Errors p:nth-child(even) {
    margin-right: 0; /* Remove margin for even items to keep them aligned */
}

/* footer */
footer {
    margin-top: 12%;
    background-color: #fff;
    padding: 20px 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Use flexbox layout for the footer */
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start (left) */
}

.footer-content {
    width: 100%; /* Ensure the content takes full width */
    display: flex;
    align-items: flex-start; /* Align items to the start (left) */
}
footer .footer-content h1 {
    color: black;
}
footer .footer-content span {
    color: #3164f4;
}

.footer-logo {
    margin-bottom: 20px; /* Space between logo and links */
}

.footer-logo h1 {
    font-size: 24px;
    color: #3164f4;
}

.footer-logo p {
    font-size: 14px;
    color: #666;
}

.footer-links {
    display: flex;
    justify-content: center; /* Center the columns horizontally */
    gap: 30px; /* Adjust the gap as needed */
    flex-wrap: wrap; /* Allow wrapping if needed */
    width: 100%; /* Ensure the links take full width for centering */
}

.links-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.links-column a {
    text-decoration: none;
    color: #262626;
    font-size: 16px;
}
.links-column a:hover {
    color: #007aff;
    font-weight: bold;
}
#AboutSmallScreen {
    display: none;
}
/* Small phones */
@media (max-width: 321px) {
    /* Styles for small phones */
    #header .Logo {
        margin-left: -40px;
    }
    #MainContent {
        margin-top: 200px;
    }
    #MainContent h1 {
        font-size: 32px;
    }
    #MainContent p {
        font-size: 26px;
    }
    .ButtonContainer {
        display: flex;
        gap: 20px;
    }
    .MainRoutes,
    .Auth {
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .MainRoutes ul,
    .Auth ul {
        display: block;
        margin: 10px 0;
    }

    .hamburger {
        display: flex;
    }

    .MainRoutes.active,
    .Auth.active {
        display: flex;
    }

    #header {
        padding: 15px 20px;
    }
    #header .logo {
        margin-left: 10px;
    }

    #header .Auth {
        margin-right: 0;
    }
    #MainContent .SignUpbutton button {
        width: 125px;
        height: 53px;
        font-size: 16px;
        background-color: #3164f4;
        font-weight: bold;
        border-radius: 12px;
        color: #fff;
        border: none;
        cursor: pointer;
    }
    .hidden {
        display: none;
    }
    .active {
        display: block;
    }

    #MainContent .WatchDemo button {
        color: #262626;
        border: 1px solid black;
        font-weight: bold;
        font-size: 16px;
        border-radius: 12px;
        background: none;
        width: 133px;
        height: 53px;
        cursor: pointer;
    }
    #DemoVideo {
        display: none;
    }
    #Features {
        margin-top: 50%;
        flex-direction: column;
        display: flex; /* Ensure the parent is using flexbox */
    }

    #Features h1 {
        font-size: 32px;
    }

    #Features .box-container {
        flex-direction: column;
        margin-top: 20px;
        display: flex;
    }

    #Features .box1,
    #Features .box2,
    #Features .box3 {
        border-radius: 16px;
        box-shadow: rgba(51, 51, 51, 0.1) 0px 4px 8px; /* Add some shadow offset for better visibility */
        width: 262px;
        height: 227px;
        background-color: #fff !important;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    #About .Title h1 {
        font-size: 32px;
    }
    #About .MainBox2 {
        flex-direction: column; /* Stack children vertically */
        padding: 20px; /* Adjust padding if needed */
        width: 100%; /* Full width of the container */
        height: auto; /* Adjust height based on content */
        position: relative; /* Reset absolute positioning */
    }

    #About .SecondaryBox2 {
        position: relative; /* Reset absolute positioning */
        width: 100%; /* Full width within the container */
        height: auto; /* Adjust height based on content */
        border-radius: 16px; /* Add rounded corners for stacking layout */
        margin-top: 20px; /* Space between .content and .SecondaryBox2 */
        top: auto; /* Reset top positioning */
        right: auto; /* Reset right positioning */
    }
}

/* Phones */
@media (max-width: 481px) {
    body {
        overflow-x: hidden !important;
    }
    /* Styles for phones */
    #hamburger {
        position: absolute;
        top: 35px;
        right: 50px;
    }
    #header .Auth,
    #header .MainRoutes {
        display: none;
    }

    #header .Auth.visible,
    #header .MainRoutes.visible {
        display: flex;
    }
    #header {
        padding: 15px 20px;
    }

    #header .Logo {
        margin-left: 10px;
        align-self: flex-start;
    }
    #header .Auth {
        display: none;
    }
    #header {
        padding: 15px 20px;
        position: relative;
    }

    #header .Auth {
        position: absolute;
        bottom: 30%;
        right: 4%;
    }
    #header .Auth .Login {
        top: 24px;
        right: 170px;
        position: absolute;
    }

    .MainRoutes {
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 3%;
        display: none;
        flex-direction: column;
        text-align: center;
        width: 100%;
    }

    .MainRoutes ul,
    .Auth ul {
        display: block;
        margin: 10px 0;
    }

    #header .hamburger {
        display: flex;
    }
    #header.active {
        height: 100vh; /* Full height of the viewport */
    }
    .MainRoutes.active,
    .Auth.active {
        display: flex;
    }

    /*header ends here */
    #Features .box1,
    .box2,
    .box3 {
        border-radius: 16px;
        box-shadow: rgba(51, 51, 51, 0.1);
        width: 332px;
        height: 207px;
        background-color: #fff !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    #MainContent {
        margin-top: 140px;
        margin-left: 5px;
    }
    #MainContent h1 {
        font-size: 30px;
    }
    #MainContent p {
        font-size: 20px;
    }
    .ButtonContainer {
        display: flex;
        gap: 20px;
    }

    #MainContent .SignUpbutton button {
        width: 125px;
        height: 53px;
        font-size: 16px;
        background-color: #3164f4;
        font-weight: bold;
        border-radius: 12px;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    #MainContent .WatchDemo button {
        color: #262626;
        border: 1px solid black;
        font-weight: bold;
        font-size: 16px;
        border-radius: 12px;
        background: none;
        width: 133px;
        height: 53px;
        cursor: pointer;
    }
    #DemoVideo {
        display: none;
    }
    #Features {
        margin-top: 50%;
        flex-direction: column;
        display: flex; /* Ensure the parent is using flexbox */
    }

    #Features h1 {
        font-size: 30px;
    }

    #Features .box-container {
        flex-direction: column;
        margin-top: 20px;
        display: flex;
    }
    #About {
        display: none;
    }
    #AboutSmallScreen {
        margin-top: 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 90px;
        margin-top: 20px;
    }
    #AboutSmallScreen .Title {
        margin-top: 70px;
        margin-bottom: 35px;
        font-size: 28px !important;
        color: #262626;
        font-weight: bold;
    }
    .OurHistory {
        position: relative;
        width: 340px;
        margin-left: 2.5px;
        margin-right: 2.5px;

        height: 220px;
        background-color: #fff;
        border-radius: 16px;
        text-align: center;
        padding: 20px;
        justify-content: space-between;
    }
    #AboutSmallScreen .OurHistory h1 {
        margin-top: 10px;

        font-size: 22px;
    }
    #AboutSmallScreen .OurHistory p {
        margin-top: 30px;
        font-size: 15px;
    }
    #AboutSmallScreen .Milestones h1 {
        margin-top: 10px;

        font-size: 22px;
    }
    .Milestones {
        margin-top: 40px;
        text-align: center;
        position: relative;
        width: 340px;
        height: 220px;
        background-color: #f2f2f2;
        border-radius: 16px;
        padding: 20px;
        justify-content: space-between;
    }
    #AboutSmallScreen .Milestones p {
        margin-top: 30px;
        font-size: 15px;
    }
    .Work {
        margin-top: 40px;
        text-align: center;

        position: relative;
        width: 340px;
        height: 220px;
        background-color: #fff;
        border-radius: 16px;

        padding: 20px;
        justify-content: space-between;
    }
    #AboutSmallScreen .Work h1 {
        margin-top: 10px;

        font-size: 22px;
    }
    #AboutSmallScreen .Work p {
        margin-top: 30px;
        font-size: 15px;
    }
    #AboutSmallScreen .VhxWork h1 {
        margin-top: 10px;
        font-size: 22px;
    }
    .VhxWork {
        margin-top: 40px;
        text-align: center;
        position: relative;
        width: 340px;
        height: 260px;
        background-color: #f2f2f2;
        border-radius: 16px;
        padding: 20px;
        justify-content: space-between;
    }
    #AboutSmallScreen .VhxWork p {
        margin-top: 30px;
        text-wrap: wrap;
        font-size: 15px;
    }
    #AboutSmallScreen,
    .VhxWork h1,
    .Work h1,
    .OurHistory h1,
    .Milestones h1 {
        margin-top: 0;
        font-size: 22px;
        color: #3164f4;

        font-weight: bold;
        font-style: italic;
    }
    #AboutSmallScreen span {
        color: #3164f4;
    }
    #AboutSmallScreen p {
        font-size: 21px;
        color: #030303;
    }

    #AboutSmallScreen {
        text-align: left;
    }
    footer {
        margin-top: 12%;
        background-color: #fff;
        padding: 20px 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex; /* Use flexbox layout for the footer */
        align-items: flex-start; /* Align items to the start (left) */
    }

    .footer-content {
        color: red;
        width: 100%; /* Ensure the content takes full width */
        display: flex;
        align-items: flex-start; /* Align items to the start (left) */
    }
    footer .footer-content h1 {
        color: black;
    }
    footer .footer-content span {
        color: #3164f4;
    }

    .footer-logo {
        margin-bottom: 20px; /* Space between logo and links */
    }

    .footer-logo h1 {
        font-size: 12px;
        color: #3164f4;
    }

    .footer-logo p {
        font-size: 10px;
        color: #666;
    }
    .footer-links {
        display: flex;
        justify-content: center; /* Center the columns horizontally */
        gap: 16px; /* Adjust the gap as needed */
        flex-wrap: wrap; /* Allow wrapping if needed */
        width: 100%; /* Ensure the links take full width for centering */
    }
    .footer-links a {
        font-size: 7px !important;
        display: flex;
        width: 100%; /* Ensure the links take full width for centering */
    }
    .links-column {
        display: flex;
        gap: 3px;
    }
    #CTA {
        width: 85%;
        background-color: #fff;
        border-radius: 16px;
        margin: 18% auto 90px;
        padding: 20px;
        /* Ensure text-content and form-content are stacked vertically */
        display: flex;
        flex-direction: column;
        align-items: center; /* Center contents horizontally */
    }
    .text-content {
        display: none;
    }
    .text-content2 {
        margin-bottom: 20px; /* Space between text content and form */
        text-align: center; /* Center align the text content */
    }

    .text-content2 h1 {
        margin-top: 20px;
        font-size: 22px;
        color: #030303;
        font-weight: bold;
        display: inline;
    }

    .text-content2 span {
        color: #3164f4;
    }

    .text-content2 p {
        margin-top: 10px !important;
        color: #262626;
        font-size: 16px;
        max-width: 900px;
        margin: 0 auto; /* Center paragraph text */
    }

    .form-content {
        width: 100%;
        max-width: 400px; /* Adjust the max-width for the form */
        /* Add margin-top to create space between text-content and form */
        margin-top: 20px;
    }

    #signup-form {
        margin: 0; /* Remove margin-top to align properly */
        gap: 15px; /* Space between form elements */
        display: flex;
        flex-direction: column; /* Stack form elements vertically */
    }
    .text-content2 {
        display: block;
    }

    #signup-form input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
    }

    #signup-form h1 {
        margin-top: 0; /* Remove top margin to fit well within form */
        margin-bottom: 30px;
        font-size: 31px;
        text-align: center;
    }

    #signup-form button {
        background-color: #3164f4;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        padding: 15px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }

    #signup-form button:hover {
        background-color: #007aff;
    }

    #signup-form .Password-container {
        position: relative; /* Ensure the show button is positioned correctly */
    }

    #signup-form .Password-container .ShowButton {
        position: absolute;
        right: 10px; /* Adjust position of the show button */
        top: 3%;
        transform: translateY(-50%);
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: #128fdc;
    }
    /* Style After login */
    footer.active {
        width: 100%;
        margin-top: 12%;
        background-color: #fff;
        padding: 20px 50px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex; /* Use flexbox layout for the footer */
        align-items: flex-start; /* Align items to the start (left) */
    }
    #AboutSmallScreen.active {
        margin-right: -25px;

        margin-top: 18%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-bottom: 90px;
        margin-top: 20px;
    }
    #Features.active {
        margin-right: -25px;
        margin-top: 50%;
        flex-direction: column;
        display: flex; /* Ensure the parent is using flexbox */
    }
    #MainContent.active {
        margin-right: -17px;
        margin-top: 140px;
    }
    #header .hamburger.active {
        margin-right: -12px;
        display: flex;
    }
}

/* Large phones / Small tablets */
@media (max-width: 768px) {
    /* Styles for large phones / small tablets */
}

/* Portrait tablets */
@media (max-width: 768px) and (orientation: portrait) {
    /* Styles for portrait tablets */
}

/* Landscape tablets */
@media (max-width: 1024px) and (orientation: landscape) {
    /* Styles for landscape tablets */
}

/* Small desktops */
@media (max-width: 1281px) {
    /* Styles for small desktops */
}

/* Large desktops */
@media (max-width: 1441px) {
    /* Styles for large desktops */
}
