@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	
}
body {
    pointer-events: auto;
    /* pointer-events: none; if the email button is clicked*/
    display: flex;
    flex-direction: column; /* Ensure a vertical flow */
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background-color: #121212;
    /*background: url(../wallpapers/maybe.png) no-repeat center center fixed; */
    background-size: cover;
}
html {
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: inherit;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: #128fdc;
}
.brand h1 span {
	color: #9acdec;
}

/* Header Section starts here*/




#header {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background-color: #121212;
	border-bottom: 0.5px solid #888;

}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	margin-right: 1%;
	margin-left: 1%;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -1;
	overflow-x: hidden;
	transition: 0.5s ease left;
    
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 900;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: #489be0;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a #Circle {
    display: none;
	visibility: visible;
	top: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
	background-image: url('../UserIcon/UnkwonUser.png'); 
	background-size: cover; 
}

#header .nav-list button{
	border-radius: 50%;
	background: none;
	border: none;

}
#header .nav-list button:hover {
	cursor: pointer;
}

#header .nav-list .DropDownMenu {
  background-color: #006097;
  color: white;
  padding: 26px;
  width: 15%;
  margin-right: 0;
  right: 1%;
  font-size: 16px;
  border: none;
  position: absolute;
  display: none;
}
#header .nav-list .DropDownContent {
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #006097;
}
#header .nav-list .DropDownContent a{
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}
#header .nav-list .DropDownContent a:hover {
	font-size: 17px;
	font-weight: bold;
}

#header .nav-list .DropDownContent {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: black;
}
#header .nav-list ul li:hover a {
	transition: 0.2s;
	color: #006097 !important;
}


#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid black;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;

}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid black;

}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #128fdc;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #128fdc;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* Settings section*/


#Settings .SettingsContainer {
    position: absolute;
    top: 13%;
    left: 10%;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 1em;
}

#Settings .SettingsContainer .SettingUl {
    margin-bottom: 2%;
    border-bottom: 2px solid black;
}

#Settings .SettingUl {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

#Settings h1 {
    position: absolute;
    color: #489be0;
    font-weight: 900;
    top: 10%;
    left: 10%;
    font-size: 24px;
    margin-bottom: 1%;
}

#Settings ul li {
    margin-left: 1%;
    font-size: 18px;
    padding: 0 10px;
    padding: 20px;
}

#Settings ul li a {
    color: #9acdec;
    font-weight: 900;
}

#Settings ul li a:hover {
    top: 13%;
    border-collapse: separate;
    color: #9acdec;
    border-bottom: #128fdc 2px solid;
}

#Settings .Language ul li {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    color: red;
}

#Settings h2 {
    margin-bottom: 2%;
    font-size: 20px;
    color: #489be0;
}

#Settings h3 {
    font-size: 16px;
    color: #9acdec;
}

#Settings .JoinGoogle {
    position: relative;
    margin-bottom: 2%;
    border-bottom: 2px solid black;
    width: 100%;
    display: flex;
    color: #97bfec;

}

#Settings span {
    font-size: 14px;
    margin-right: 2%;
}
#Settings p {
    font-size: 14px;
	margin-right: 10px;
	color: #97bfec;
    margin-right: 2%;
    margin-bottom: 1%;
}
#Settings .Language p {
    font-size: 14px;
	margin-right: 10px;
	
    margin-right: 2%;
    margin-bottom: 3%;
}
#Settings button {
	margin-bottom: 3%;
}

#Settings .DangerZone {
    margin-top: 7%;
}

#Settings .DangerZone button {
    background: none;
    border: none;
}

#Settings .SettingsContainer .EmailContainer {
    display: flex;
    align-items: center;
}

#Settings .SettingsContainer .EmailContainer p {
    margin-right: 10px;
    font-size: 14px;
}

#Settings .SettingsContainer .EmailButton {
    height: 3vh;
    background: #128fdc;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: white;
    padding: 0 10px;
}
#Settings .SettingsContainer .EmailButton:hover {
    background-color: #0e80c7;
}
#Settings .SettingsContainer .PasswordButton {
    height: 3vh;
    background: #128fdc;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    color: white;
    padding: 0 10px;
}
#Settings .SettingsContainer .PasswordButton:hover {
    background-color: #0e80c7;
}

#Settings .SettingsContainer .JoinGoogle button {
    margin-left: 3%;
    margin-bottom: 2%;
    margin-top: 2%;
    border: none;
    background: none;
}

#Settings .SettingsContainer .JoinGoogle button:hover {
    cursor: pointer;
}
/* Change email section*/
.BackGroundBlur {
    background-color: rgba(28, 28, 28, 0.9);
    display: none;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    padding: 75px 30px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.ChangeEmail {
    display: none;
    border: 1px solid black;
    width: 420px;
    background: #8f9195;
    backdrop-filter: blur(2px);
    color: black;
    border-radius: 12px;
    padding: 30px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9000000;
}

.ChangeEmail h1 {
    font-size: 36px;
    text-align: center;
	color: #006097;
    margin-bottom: 30px; /* Add some space below the heading */
}
.ChangeEmail .CloseButton {
    position: absolute;
    font-size: 18px;
    top: 0;
    right: 2%;
}

.ChangeEmail .Input-box {
    margin-bottom: 30px; /* Adjust the margin for input boxes */
}

.Input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 16px;
    color: #97bfec;
    padding: 20px 45px 20px 20px;
    font-weight: 500;
}
.EmailError {
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 15px;
	font-size: 14px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}
.PasswordError {
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 30px;
	font-size: 15px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}
.PasswordErrorMessage {
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 30px;
	font-size: 15px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}
.NewPasswordErrorMessage{
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 30px;
	font-size: 15px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}
.EmailErrorMessage {
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 15px;
	font-size: 14px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}
.NewPasswordError {
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 30px;
	font-size: 15px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}

.Input-box input:focus {
    transition: 0.5s;
    border: 2px solid #128fdc;
}

.ChangeEmail input:not(:last-child) {
    margin-bottom: 25px;
}

.ChangeEmail .ChangeEmailButton {
    width: 100%;
    height: 45px;
    background: #006097;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
	border-radius: 12px;

}

.Input-box input::placeholder {
    color: black;
}

.ChangeEmail Button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.ChangeEmail .ChangeEmailButton:hover {
    transition: 0.8s;
    background-color: #128fdc;

}
/* Change Password section */
.ChangePassword {
        display: none;
        border: 1px solid black;
        width: 420px;
        background: #8f9195;
        backdrop-filter: blur(2px);
        color: black;
        border-radius: 12px;
        padding: 30px 40px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9000000;
}

.ChangePassword h1 {
    font-size: 36px;
    text-align: center;
	color: #006097;
    margin-bottom: 30px; /* Add some space below the heading */
}
.ChangePassword .CloseButton {

    position: absolute;
    font-size: 18px;
    top: 0;
    right: 2%;
}

.ChangePassword .Input-box {
    margin-bottom: 30px; /* Adjust the margin for input boxes */
}

.Input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
    font-weight: 500;
}
.EmailError {
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 15px;
	font-size: 14px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}
.PasswordError {
    display: none;
    visibility: visible;
    margin-top: 0;
    margin-bottom: 30px;
	font-size: 15px;
    color: rgb(192, 68, 68);
    font-weight: bold;
}

.Input-box input:focus {
    transition: 0.5s;
    border: 2px solid #128fdc;
}

.ChangePassword input:not(:last-child) {
    margin-bottom: 25px;
}

.ChangePassword .ChangePasswordButton {
    width: 100%;
    height: 45px;
    background: #006097;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 600;
	border-radius: 12px;

}

.Input-box input::placeholder {
    color: black;
}
.ChangePassword Button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

.ChangePassword .ChangePasswordButton:hover {
    transition: 0.8s;
    background-color: #128fdc;

}
/* Banner section profile */
#Settings .SettingsContainerProfile {
    position: absolute;
    top: 13%;
    left: 10%;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    padding: 1em;
}

#Settings .SettingsContainerProfile .SettingUl {
    margin-bottom: 2%;
    border-bottom: 2px solid black;
}
#Settings .SettingsContainerProfile button{
    margin-top: 2%;
    color: #128fdc;
    width: 100%;
    height: 150px;
    font-size: 20px;
    border-radius: 20px;
    border: 2px solid #0e80c7;
}
#Settings .SettingsContainerProfile button:hover{
    cursor: pointer;
    transition: 1s;
    background-color: #dbdbdb;
}
/* Footer section*/
/*#footer {
    font-size: 12px;
    margin-top: 100%; 
    left: 0; 
    z-index: 10000000000;
    width: 100%;
    background: #f8f8f8;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}

#footer button{
	background: none;
	border: none;
}

#footer button:hover {
	cursor: pointer;
	transition: 0.1s;
	text-decoration: underline;
}

#footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

#footer li {
    padding: 5px;
}
#footer .Li-Language {
	padding: 3px;
	font-size: 12px;
	color: black;
}
#footer p {
	padding: 5px;
}
#footer .Li-Language {
	position: relative;
	left: 20%;
}
#footer .Country-Flag {
	position: relative;
	z-index: 100;
	left: 20%;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
	margin-left: 8px;
    background-image: url('../Country_Flags/us.jpg'); 
	background-size: cover; 

}

*/

/*Footer Section end here*/
/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal {
    from {
        opacity: 0;
        transform: translateX(-50px); 
    }
    to {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* End Keyframes */


/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(179, 0, 255);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

}
/* End Media Query For Tablet */
@media (max-width: 768px) {
    #Settings .SettingsContainer {
        width: 90%;
        left: 5%;
    }

    #Settings h1 {
        top: 10%;
        left: 5%;
        font-size: 20px;
    }

    #Settings ul li {
        font-size: 16px;
        padding: 10px;
    }

	#Settings .SettingsContainer .EmailButton {
        height: auto;
        padding: 5px 10px;
        font-size: 12px;
    }
	#Settings .SettingsContainer .PasswordButton {
        height: auto;
        padding: 5px 10px;
        font-size: 12px;
    }

    #Settings .SettingsContainer .EmailContainer p {
        font-size: 12px;
    }
}
@media (max-width: 768px) {
	#footer {
		position: absolute;
		bottom: 0;
	}
    #footer ul {
		flex-direction: row-reverse;
	}

    #footer .Li-Language, #footer .Country-Flag {
        left: 0;

    }
}
/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */