@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;

}
body {
    pointer-events: auto;
    /* pointer-events: none; if the email button is clicked*/
    display: flex;
    flex-direction: column; /* Ensure a vertical flow */
	margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
	background-color: #EFEFEF;
    /*background: url(../wallpapers/maybe.png) no-repeat center center fixed; */
    background-size: cover;

}
html {
	font-size: 11px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;

}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.brand h1 {
	font-size: 3.5rem;
	text-transform: uppercase;
	color: #128fdc;
	font-family: "Dancing Script", cursive;
	font-weight: 900;
  
}
.brand h1 span {
	color: black;
}

/* Header Section starts here*/

#header {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background-color: white;
	border-bottom: 0.5px solid #888;

}
#header .header {
	min-height: 8vh;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 10px;
	margin-right: 1%;
	margin-left: 1%;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: -1;
	overflow-x: hidden;
	transition: 0.5s ease left;
    
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 900 bolder;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a #Circle {
    display: none;
	visibility: visible;
	top: 0;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    vertical-align: middle;
	background-image: url('../UserIcon/UnkwonUser.png'); 
	background-size: cover; 
}

#header .nav-list button{
	border-radius: 50%;
	background: none;
	border: none;

}
#header .nav-list button:hover {
	cursor: pointer;
}

#header .nav-list .DropDownMenu {
  background-color: #006097;
  color: white;
  padding: 26px;
  width: 15%;
  margin-right: 0;
  right: 1%;
  font-size: 16px;
  border: none;
  position: absolute;
  display: none;
}
#header .nav-list .DropDownContent {
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #006097;
}
#header .nav-list .DropDownContent a{
	color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid black;
}
#header .nav-list .DropDownContent a:hover {
	font-size: 17px;
	font-weight: bold;
}

#header .nav-list .DropDownContent {
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
  

#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: black;
}
#header .nav-list ul li:hover a {
	transition: 0.2s;
	color: #006097 !important;
}


#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid black;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;

}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid black;

}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: #128fdc;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: #128fdc;
	transition: 0.3s ease;
	transition-property: top, bottom;
}

#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/*GetStarted Section*/


#GetStarted {
	display: none;
	width: 600px;
	height: auto;
	background-color: #FFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 4%;
	transform: translate(-50%, -50%);
	place-items: center;
	padding: 20px;
	box-sizing: border-box;
}

#GetStarted .StartBox h1 {
	color: #128fdc;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	margin-bottom: 20px;
}

#GetStarted .grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	width: 100%;
}

.grid-item {
	display: flex;
	align-items: center;
}

.Pooh img {
	width: 15%;
	position: absolute;
	top: 14%;
	left: 9;
}

.UserInput .usericon {
	width: 10%;
	position: absolute;
	top: 52%;
	right: 1%;
}

.Pooh p, .UserInput input {
	width: 90%;
	border: 1px solid rgb(51, 51, 51);
	outline: none;
	border-radius: 8px;
	font-size: 16px;
	color: black;
	padding: 20px;
	font-weight: 500;
	transition: all 0.30s ease-in-out;
	flex-grow: 1;
	margin-bottom: 5px;
}
.Pooh p {
	margin-bottom: 25px;
}
#GetStarted .StartBox .Pooh p{
	margin-left: 90px;
	width: 80%;
}
.UserInput .SubInfo .SubInfoText {
	display: none;
	width: 90%;
	border: 1px solid rgb(51, 51, 51);
	outline: none;
	border-radius: 8px;
	font-size: 16px;
	color: black;
	padding: 10px;
	font-weight: 500;
	transition: all 0.30s ease-in-out;
	flex-grow: 1;
	margin-bottom: 5px;
	resize: none;
}
.UserInput .SubInfo .a213 {
	display: none;
	position: absolute;
	right: 1%;
	top: 70%;
	width: 10%;
	right: 1%;
}
.GiveMoreInfo {
	display: block;
	margin-top: 10px;
	margin-left: 80px;
	max-width: 85%;
	width: 90%;
	border: 1px solid rgb(51, 51, 51);
	outline: none;
	border-radius: 8px;
	font-size: 16px;
	color: black;
	padding: 20px;
	font-weight: 500;
	transition: all 0.30s ease-in-out;
	flex-grow: 1;
	margin-bottom: 30px;
}
.UserInput .pooh {
	width: 15%;
	position: absolute;
	top: 58%;
	left: 2%;
}

.UserInput .dropdown {
	display: none;
	position: absolute;
	top: 73%;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	max-height: 200px;
	overflow-y: auto;
}
.UserInput .ErrorMessage {
	color: red;
	font-weight: bold;
	display: none;
	font-size: 14px;
}

.UserInput .dropdown .option {
	padding: 10px;
	cursor: pointer;
}

.UserInput .dropdown .option:hover {
	background-color: #f0f0f0;
}
.UserInput .dropdownPt {
	display: none;
	position: absolute;
	top: 73%;
	left: 0;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	z-index: 1000;
	max-height: 200px;
	overflow-y: auto;
}

.UserInput .dropdownPt .option {
	padding: 10px;
	cursor: pointer;
}

.UserInput .dropdownPt .option:hover {
	background-color: #f0f0f0;
}

#GetStarted .Pooh input:focus,
#GetStarted .UserInput input:focus,
.UserInput .SubInfo .SubInfoText:focus {
	box-shadow: 0 0 5px rgba(81, 203, 238, 1);
	border: 1px solid rgba(81, 203, 238, 1);
}

#GetStarted .GetStartedButton {
	background-color: #0276FF;
	border-radius: 8px;
	border-style: none;
	box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	font-family: "RM Neue", sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 20px auto 0 auto;
	padding: 12px 27px;
	text-align: center;
	text-transform: none;
	transition: color .13s ease-in-out, background .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

#GetStarted .GetStartedButton:active {
	background-color: #006AE8;
}

#GetStarted .GetStartedButton:hover {
	background-color: #1C84FF;
}

#GetStarted .CloseButton {
	position: absolute;
	background: none;
	border: none;
	font-size: 18px;
	top: 2%;
	right: 2%;
}

#GetStarted .CloseButton:hover {
	cursor: pointer;
}
.a {
	display: none;
}
/*Maincontent section*/

#MainContent .AddSubject {
	position: absolute;
	right: 5%;
	top: 50%;
	bottom: 10%;
	display: none;
}
#MainContent .AddSubject:hover {
	cursor: pointer;
}
#MainContent .card {
    width: 300px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fff;
	display: none;
	position: absolute;
	top: 20%;
    left: 5%;
    right: 5%;
}
#MainContent .card:hover {
	cursor: pointer;
	box-shadow: rgba(149, 157, 165, 0.2) 2px 8px 24px;
}

#MainContent .card-header {
    background-color: #607D8B;
    color: #fff;
    padding: 16px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
}

#MainContent .card-header h1 {
    margin: 0;
    font-size: 1.5em;
}

#MainContent .card-header p {
    margin: 0;
    font-size: 1em;
}

#MainContent .card-header img {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 50px;
    height: auto;
}

#MainContent .card-body {
    padding: 16px;
    height: 130px;
}

#MainContent .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-top: 1px solid #e0e0e0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

#MainContent .icons {
    display: flex;
    gap: 16px;
}

#MainContent .icons .icon-chart::before,
#MainContent .icons .icon-folder::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f201"; /* Font Awesome chart icon */
}

#MainContent .icons .icon-folder::before {
    content: "\f07b"; /* Font Awesome folder icon */
}

@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}

@keyframes text_reveal {
    from {
        opacity: 0;
        transform: translateX(-50px); 
    }
    to {
        opacity: 1;
        transform: translateX(0); /* End at the original position */
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* End Keyframes */
@media (max-width: 768px) {
	#GetStarted {
		width: 90%;
		padding: 10px;
	}
	#GetStarted .grid-container {
		grid-template-columns: 1fr;
	}
	.Pooh img {
		width: 15%;
		left: 0;
		top: 17%;
	}
	.UserInput .usericon {
		top: 51%;
		right: 1%;
		width: 10%;
	}
	.UserInput .SubInfo .a213 {
		top: 72%;
		
	}
	.Pooh p, .UserInput input {
		width: 89%;
		padding: 15px;
		margin-right: 2px;

	}
	#GetStarted .StartBox .Pooh p {
		margin-left: 60px;
		width: calc(100% - 60px);
	}
	.GiveMoreInfo {
		margin-left: 50px;
		width: calc(100% - 50px);
		padding: 15px;
	}
	.UserInput .pooh { 
		left: 0;
	}
	.GiveMoreInfo {
		margin-left: 60px;
	    width: 90%;
	}
}

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid rgb(179, 0, 255);
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */