* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column; /* Ensure a vertical flow */
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed; /* Fix the background */
    margin: 0; /* Added to remove default body margin */
    overflow-y: scroll; /* Allow scrolling */

}

.section1{
    display: flex;
    flex-direction: column; /* Ensure a vertical flow */
    min-height: 100vh;
    background-size: cover;   
}

.About-section {
    display: flex;
    flex-direction: column; /* Ensure a vertical flow */
    min-height: 120vh;
    background-size: cover;
    background-image: url('../wallpapers/LookWellIhope.jpg');
}


.about {
    position: relative;
    top: 37vh;
}

.about h1 {
    color: white;
    position: absolute; /*Welcome div esta a funcionar nao mexer*/
    font-size: 50px;
    right: 13%;
}
.about p {
    color: #F6F7EB;
    font-size: 26px;
    position: absolute;
    top: 8vh;
    right: 13%;
    max-width: 27%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}


img:hover {
    cursor: pointer;
}
.nav-container  {
    display: flex;
    align-items: center;
    height: 80px;
    width: 100%;
    padding: 0 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
}

.nav-container span {
    font-size: 21px;
    color: #1a1a1a;
}

.nav-container button:hover  {
    transition: 0.8s;
    color: #128fdc;
}

.buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
    
}

.about-button  {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 10px;
    
    
}
.login-button  {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 10px;
}
.register-button  {
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    margin-right: 10px;
}

.about-button:hover span {
    transition: 0.8s;
    
    color: #128fdc;
    font-size: 23px;
}
.login-button:hover span {
    transition: 0.8s;
    color: #128fdc;
    font-size: 23px;
    /*color: #969696;*/
}

.register-button:hover span {
    transition: 0.8s;
    color: #128fdc;
    font-size: 23px;
}

/*SO PARA NAO ESQUECER TALVEZ SEJA NECESSARIO FAZER O .Amazing-Div DO ZERO 
para meter os botoes "Get started" e "Learn more" lado a lao*/

/*h1 {
    color: white;
    position: absolute;
    font-size: 50px;
    left: 13%;
}

p {
    color: #F6F7EB;
    font-size: 2.883625128733265vh;
    position: relative;
    top: 8vh;
    left: 13%;
    max-width: 30%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}
*/

.Welcome-div {
    position: relative;
    top: 27vh;
}

.Welcome-div h1 {

    position: absolute; /*Welcome div esta a funcionar nao mexer*/
    font-size: 50px;
    left: 13%;
}
.Welcome-div p {

    font-size: 2.883625128733265vh;
    position: relative;
    top: 8vh;
    left: 13%;
    max-width: 30%;
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.pain {
    display: flex;
    position: relative;
    margin-top: 37vh;
    margin-left: 13%;
}

.pain .getstarted {
    font-weight: 900;
    font-size: 21px;
    color: #F0F0F0;
    background-color: #128fdc;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    margin-right: 30px;
}
.pain .getstarted:hover {
    transition: 0.8s;
    cursor: pointer;
    box-shadow: 0 0 0 2px #3b3b3b;
}
.pain .learnmore {
    font-weight: 900;
    font-size: 21px;
    color: #3b3b3b;
    background-color: #F0F0F0;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;

}

.pain .learnmore:hover {
    transition: 0.8s;
    cursor: pointer;
    box-shadow: 0 0 0 2px #128fdc;
    
}






